---
import favicon from "../astro.svg";
---
<html>
  <head>
    <title>Wing Astro</title>
    <link rel="icon" type="image/svg" href={favicon.src}>
  </head>
  <body>
    <h1>Hello world!</h1>
  </body>
</html>
