/* CodeComparison.module.css */
.codeComparisonContainer {
    display: flex;
    flex-direction: column;
  }
  
  .leftPanel,
  .rightPanel {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .codeComparisonContainer {
      flex-direction: row;
    }
  
    .leftPanel {
      width: 38%;
      margin-right: 2%;
    }
  
    .rightPanel {
      width: 58%;
      margin-left: 2%;
    }
  }
  