#compatibility-table {
  position: relative;
  overflow: unset;
}

#compatibility-table .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.25rem;
}

#compatibility-table thead th {
  background-color: var(--ifm-navbar-background-color);
  position: sticky;
  top: 58px;
}

#compatibility-table .cell a {
  font-size: 0.8rem;
  color: var(--ifm-color-emphasis-500);
}

#compatibility-table tr {
  background-color: transparent;
}

#compatibility-table code {
  border: none;
  background-color: transparent;
}

#compatibility-table .highlight {
  background-color: var(--ifm-table-stripe-background);
}

#compatibility-table .highlight a {
  color: var(--ifm-color-emphasis-700);
}
