@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-w-2\.5::-webkit-scrollbar {
  @apply w-2.5;
}

.scrollbar-h-2\.5::-webkit-scrollbar {
  @apply h-2.5;
}

.scrollbar-w-3::-webkit-scrollbar {
  @apply w-3;
}

.scrollbar-h-\[3px\]::-webkit-scrollbar {
  @apply h-[3px];
}

.overflow-x-overlay {
  overflow-x: scroll;
  overflow-x: overlay;
}

.overflow-y-overlay {
  overflow-y: scroll;
  overflow-y: overlay;
}

.scroller::-webkit-scrollbar,
.scroller::-webkit-scrollbar-thumb,
.scroller::-webkit-scrollbar-corner {
  /* add border to act as background-color */
  border-right-style: inset;
  /* sum viewport dimensions to guarantee border will fill scrollbar */
  border-right-width: calc(100vw + 100vh);
  /* inherit border-color to inherit transitions */
  border-color: inherit;
}

.scroller:hover::-webkit-scrollbar-thumb {
  @apply border-slate-400;
}

.scroller::-webkit-scrollbar-thumb:hover {
  @apply border-slate-500;
}

.scroller::-webkit-scrollbar-thumb:active {
  @apply border-slate-600;
}
