name: WingSDK Mutation

on:
  pull_request_target:
    types:
      - opened
      - synchronize
    paths:
      - libs/wingsdk/**

permissions:
  contents: write

defaults:
  run:
    working-directory: libs/wingsdk

env:
  CI: "true"

jobs:
  mutate:
    runs-on: ubuntu-latest
    steps:
      - id: token-check
        name: Check if mutation token is set
        working-directory: ${{ github.workspace }}
        run: echo "HAS_TOKEN=${{ secrets.MUTATION_TOKEN && 'true' || 'false' }}" >> $GITHUB_OUTPUT
      - name: Token notice
        if: steps.token-check.outputs.HAS_TOKEN == 'false'
        working-directory: ${{ github.workspace }}
        run: |
          echo "Add a MUTATION_TOKEN repository secret with a personal access token to enable self mutation.
          It requires read/write repo permissions." >> $GITHUB_STEP_SUMMARY
      - name: Checkout
        if: steps.token-check.outputs.HAS_TOKEN == 'true'
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          token: ${{ secrets.MUTATION_TOKEN }}
      # Reads versions from root package.json "volta" section
      - name: Setup Node/NPM with pinned Volta version
        uses: volta-cli/action@v4.0.0
      - name: Install dependencies
        if: steps.token-check.outputs.HAS_TOKEN == 'true'
        run: npm ci
        working-directory: "."
      - name: Build transitive dependency (wing-api-checker)
        if: steps.token-check.outputs.HAS_TOKEN == 'true'
        run: npm run build
        working-directory: apps/wing-api-checker
      - name: Build transitive dependency (jsii-docgen)
        if: steps.token-check.outputs.HAS_TOKEN == 'true'
        run: npm run build
        working-directory: apps/jsii-docgen
      - name: build
        if: steps.token-check.outputs.HAS_TOKEN == 'true'
        run: npx projen build
      - id: self_mutation
        if: steps.token-check.outputs.HAS_TOKEN == 'true'
        name: Find mutations
        run: |-
          git add --all
          git diff --staged --patch --exit-code > /dev/null || echo "::set-output name=self_mutation_happened::true"
      - name: Push changes
        if: steps.token-check.outputs.HAS_TOKEN == 'true' && steps.self_mutation.outputs.self_mutation_happened
        run: |-
          git config user.name "monada-bot[bot]"
          git config user.email "monabot@monada.co"
          git commit -s -m "chore: self mutation"
          git push origin HEAD:${{ github.event.pull_request.head.ref }}
